name: Terraform AWS Destroy

# When running this workflow manually, select the 'main' branch in the GitHub Actions UI.
on:
  workflow_dispatch:
jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TF_VAR_s3_backend_bucket: ${{ secrets.TF_S3_BUCKET }}
      TF_VAR_s3_backend_key: ${{ secrets.TF_S3_KEY }}
      TF_VAR_s3_backend_region: ${{ secrets.TF_S3_REGION }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Destroy
        run: terraform destroy -auto-approve
